.wholeAquarium {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space evenly;
}
h1 {
    text-align: center;
    margin-bottom: 1em;
}
.fish {
    border: groove black;
    flex: 5;
}
.travel {
    border: groove black
}
.martinTips {
    border: groove black
}
